@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/*root*/
:root{
    /*blue*/
    --color-sky: #b5e2fa;
    --color-sky2: #c5d1eb;
    --color-sky3: #3ABEFF;
    --color-sky4: #6F9CEB;

    --color-blue: #92afd7;
    --color-blue2: #2274A5;
    --color-blue3: #058ED9;
    --color-blue4: #004BA8;
    --color-blue5: #053C5E;

    /*violet*/
    --color-violet: #46237A;
    --color-violet2: #392B58;
    --color-violet3: #392F5A;

    /*red*/
    --color-pink: #fcb9b2;
    --color-pink2: #F39A9D;

    /*grey*/
    --color-grey: #F4EBE8;
    --color-grey2: #F4F4F9;
    --color-grey3: #FFFCF9;
    --color-grey4: #4b4b4b;

    /*black*/
    --color-black: #1E1014;
    --color-black2: #2D2D34;
    --color-black3: #30323D;
    
    /*yellow*/
    --color-yellow: #F5FFC6;
    --color-yellow2: #FFFFC7;
    --color-yellow3: #F18805;
    --color-yellow4: #F0A202;
    --color-yellow5: #FCBA04;
    --color-yellow6: #F49E4C;
    --color-yellow7: #FED766;
}
*, body, ul, li{padding: 0;margin: 0;box-sizing: border-box;}
/*around*/
body{
    /* font-family: 'NEXON Lv1 Gothic OTF'; */
    font-family: 'SUITE-Regular';
    margin: auto;
    font-size: 1rem;
    color: var(--color-black); 
    
}
header{
    position: relative;
}
/* header, header img{
    width: 100%; height: 100vh;
    object-fit: cover;
} */
h1{
    margin: 0; padding: 0;
    font-size: 30pt;
    font-weight: bold;
}
html, body{
    cursor: url('../img/햄스터커서.png'), auto;
}
a{
    text-decoration: none;
}

/*another*/
.line{
    width: 100%;
    height: 6.5px;
    background: linear-gradient(to right, var(--color-sky3), var(--color-yellow2));
    margin: 5px 0 30px 0;
}
.clear{
    clear: both;
}
.aos-animate, .aos-init{
    margin: 0; padding: 0;
}
.title{
    color: var(--color-blue4);
    font-size: 3rem;
}

/*header*/
.header-text{
    z-index: 99;
    position: absolute;
    top: 40%; left: 35%;
    text-align: center;
    color: #000000;
    font-size: 2rem;
    display: inline-block;
}
.header-text h2{
    width: 100%;
    font-size: 3.5rem;
    /* margin: 0px auto 20px 30px; */
    
}
.header-text span{
    font-size: 20pt;
}
.header-image{
    background-color: white;
    filter: brightness(0.5);
    height: 100vh;
}
.header-image img{
    width: 100%;height: 100%;object-fit: cover;
}

.top-icon{
    z-index: 99;
    position: absolute;
    top: 90%;
    left: 50%;
    font-size: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
.top-text{
    background: linear-gradient(to bottom, var(--color-sky2), var(--color-sky4));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40pt;
}
.top-text-sub{
    color: var(--color-sky2);
    font-weight: 500;
}

/*profile - around*/
.profile{
    width: 1400px; height: 700px;
    margin: 50px auto;
    padding: 60px 0px;
}
/*profile-left*/
.profile-info{
    /* border: 1px solid; */
    float: left;
    text-align: center;
}
.profile-txt{
    margin-top: 20px;
}
.profile-txt p, .profile-cont p{
    font-size: 12pt;
    /* margin: 5px 0px; */
}
.profile-image{
    width: 100%; height: 400px;
    border-radius: 30px;
}
.profile-img{
    width: 100%; height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.profile-txt h5, p{
    margin: 0px;
    font-size: 1.1em;
}
.profile-txt h5{
    color: var(--color-blue4);
    margin-bottom: 10px;
    font-weight: 700;
}
.profile-txt p{
    color: var(--color-sky2);
    font-weight: 400;
}
.line-p{
    gap: 5px;
    margin: 5px 0 10px 0;
}
/* .fa-paw{
    color: #f08080;
} */
.profile-cont ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.profile-cont li{
    margin: 0; padding: 0;
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--color-black);
}
.profile-cont p{
    color: var(--color-sky2);
    margin-bottom: 15px;
    font-weight: 400;
}
.profile-cont h5{
    color: var(--color-blue4);
    font-weight: 700;
}
.profile-cont p, .profile-cont h5{
    margin: 0; padding: 0;
}
.line-p{
    width: 80%; height: 3px;
    background: linear-gradient(to right, var(--color-sky3), var(--color-yellow2));
    margin: auto;
    margin-bottom: 10px;
}

/*profile-right*/
.profile-main{
    float: right;
    width: 70%; height: 100%;
}
.profile-main p{
    margin-bottom: 30px;
}
.profile-title-sub ul{
    list-style: none;
    margin-top: 20px;
}
.profile-title-sub{
    font-size: 2rem;
}
.profile-title-sub p{
    font-weight: 600;
}
.profile-title-sub li{
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 18pt;
    color: var(--color-blue3);
    font-weight: 600;
}
.fa-circle-check{
    color: var(--color-blue3);
}
.profile-mind-text{
    padding-top: 80px;
    font-size: 15pt;
    line-height: 40px;
    color: var(--color-black3);
}
.profile-mind-text span{
    color: var(--color-yellow4);
    font-size: 25pt;
    font-weight: 600;
}
.p-t-s-p{
    color: var(--color-grey4);
    font-size: 25pt;
}
.profile-title-sub span{
    color: white;
    font-size: 35pt;
    text-shadow: 0 0 5px var(--color-blue3);
}
/*skill*/
.profile-skill{
    margin-top: 100px;
}
.skillbox{
    width: 100%; height: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skill-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}
.skill img{
    width: 50px; height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}
.skillbox p{
    padding: 0; margin: 0;
    text-align: end;
    display: inline-block;
    margin-left: 15px;
    font-weight: 700;
    font-size: 18pt;
}
.html, .css, .js{
    margin-bottom: -40px;
}
.psd, .ai{
    margin-bottom: 20px;
}
.figma{
    margin-top: -60px;
}
.be{
    width: 200px; height: 20px;
    background-color: #f1f1f1;
    border-radius: 20px;
}
/*게이지*/
.af-html{
    width: 180px; height: 20px;
    /* background: linear-gradient(to right, var(--color-sky), var(--color-yellow2)); */
    background-color: var(--color-sky3);
    display: block;
    border-radius: 20px;
}
.af-css{
    width: 159px; height: 20px;
    /* background: linear-gradient(to right, var(--color-sky), var(--color-yellow2)); */
    background-color: var(--color-sky3);
    display: block;
    border-radius: 20px;
}
.af-js{
    width: 140px; height: 20px;
    /* background: linear-gradient(to right, var(--color-sky), var(--color-yellow2)); */
    background-color: var(--color-sky3);
    display: block;
    border-radius: 20px;
}
.af-jq{
    width: 140px; height: 20px;
    /* background: linear-gradient(to right, var(--color-sky), var(--color-yellow2)); */
    background-color: var(--color-sky3);
    display: block;
    border-radius: 20px;
}
.af-psd{
    width: 175px; height: 20px;
    /* background: linear-gradient(to right, var(--color-sky), var(--color-yellow2)); */
    background-color: var(--color-sky3);
    display: block;
    border-radius: 20px;
}
.af-ai{
    width: 160px; height: 20px;
    /* background: linear-gradient(to right, var(--color-sky), var(--color-yellow2)); */
    background-color: var(--color-sky3);
    display: block;
    border-radius: 20px;
}
.af-fi{
    width: 170px; height: 20px;
    /* background: linear-gradient(to right, var(--color-sky), var(--color-yellow2)); */
    background-color: var(--color-sky3);
    display: block;
    border-radius: 20px;
}
/*info-text*/
.info-text{
    list-style: none;
    margin-top: 100px;
}
.info-text li{
    margin-bottom: 40px;
    font-size: 1.3rem;
    font-weight: 600;
}
.fa-1, .fa-2, .fa-3, .fa-4{
    margin-right: 10px;
    font-size: 2rem;
}

/*me*/
.me{
    width: 100%; height: 600px;
    margin: 700px auto;
}
.me-text{
    margin-top: 120px;
}
.me-image {
    perspective: 1000px; 
    width: 60%; 
    height: 680px; 
    position: relative;
}
.me-image img{
    width: 100%; height: 100%;
    object-fit: cover;
}
.me-image .front,
.me-image .back {
    position: absolute;
    width: 100%; 
    height: 100%; 
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out; 
}
.me-image .front {
    transform: rotateY(0deg); 
    z-index: 2;
}
.me-image .back {
    transform: rotateY(180deg); 
}
.me-image.flipped .front {
    transform: rotateY(-180deg); 
}
.me-image.flipped .back {
    transform: rotateY(0deg); 
}
.me-img {
    width: 100%; height: 100%;
    object-fit: cover; 
}

.me-good{
    display: flex;
    margin: 200px auto 170px 0px;
    height: 100%;
}
.me-text-cont{
    height: 100%;
    margin-top: 50px;
}
.me-text-sub{
    /* padding-top: 20px; */
    height: 100%; width: 40%;
}
.me-text-sub{
    width: 60%; height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* float: right; */
    /* border: 1px solid; */
}
.me-list{
    /* border: 1px solid; */
    line-height: 15px;
    gap: 20px;
    font-size: 15pt;
    padding: 0; margin: 0;
    margin-bottom: 50px;
    margin-left: 80px;
}
.me-list-text{
    font-weight: 600;
    color: var(--color-blue2);
}
.m-l-main{
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    font-size: 1.5rem;
}
.m-l-sub-text{
    line-height: 25px;
    padding: 0;
    color: var(--color-grey4);
}
.fa-lightbulb, .fa-comments, .fa-quote-left, .fa-quote-right, .fa-pen-to-square, .fa-keyboard{
    background: linear-gradient(to bottom, var(--color-sky3), var(--color-yellow2));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.me-click{
    margin-left: 60px;
    font-size: 1.7rem;
    /* border: 1px dashed var(--color-blue3); */
    width: 140px;
    padding: 5px;
    text-align: center;
    /* border-radius: 30px; */
    color: var(--color-blue);
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/*portfolio*/
.portfolio{
    margin: 0;
    margin: 250px auto;
    width: 1600px; height: 100%;
}
.portfolio > .line, .portfolio > .title{
    width: 1400px;
    margin: auto;
}
.portfolio > .title{
    margin-top: 70px;
    display: block;
    align-items: baseline;
}
.portfolio > .line{
    margin-top: 5px;
    margin-bottom: 10px;
}
.p-list-title{
    color: var(--color-blue4);
}
.p-list-onlyme{
    margin: 0; padding: 0;
}
.p-list-me{
    color: var(--color-sky3);
}
/*swiper*/
.swiper{
    margin: 0;
}
.mySwiper{
    width: 1400px; height: 700px;
    /* border: 1px solid; */
    margin: 20px auto;
}
.swiper-silde, .swiper-wrapper{
    width: 33.3%; height: 100%;
}
.shopping > .swiper-slide, .shopping > .swiper-weapper{
    width: 50%; height: 100%;
}
.shopping > .swiper img{
    width: 100%;
}
.swiper ul{
    list-style: none;
    text-align: center;
    margin-top: 20px;
}
.swiper li{
    margin-bottom: 10px;
}
.swiper button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* margin-top: 15px; */
    background: linear-gradient(to right, var(--color-sky), var(--color-yellow));
    color: var(--color-blue4);
    font-size: 8pt;
    font-weight: 600;
}
.image .swiper-slide{
    position: relative;
    overflow: hidden;
}
.image .swiper-silde img{
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
/* .image .swiper-silde::after{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--color-blue 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
} */

.p-list-program{
    /* width: 100%; height: 50%; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.p-list-program div{
    width: 50px; height: 50px;
}
.p-list-program img{
    width: 50px; height: 50px;
    object-fit: cover;
}
.web img{
    width: 100%; object-fit: cover;
}
.m-shopping{
    height: 340px;
    object-fit: cover;
}
.swiper-slide ul{
    width: 100%; height: 40%;
    margin: 0px auto;
    padding: 0;
}
.p-list-title{
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 20px;
}
.p-list-me{
    font-size: 1.5em;
}
.p-list-onlyme{
    font-size: 1.2em;
    color: #c9c9c9;
}

/*b-swiper*/
.mmySwiper {
    width: 1400px;
    height: 500px;
    margin: auto;
    /* border: 1px solid; */
  }

.b-slide {
    width: 1400px; height: 500px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*port cont*/
.prot-cont{
    width: 1400px; height: 700px;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    gap: 60px
}
.port-sub-cont{
    width: calc((100% - 60px) /2); 
    /* border: 1px solid; */
}
/* .port-sub-cont img{
    width: 100%; 
    object-fit: cover;
    border-radius: 20px;
} */
.sale .port-sub-cont{
    width: 100%; height: 70%;
    object-fit: cover;
}
.sale .port-sub-cont img{
    width: 100%; height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.sale .port-sub-cont ul{
    list-style: none;
    text-align: center;
    margin: 0;
}
/* .w{
    background-image: url('../img/상세페이지/물티슈상세페이지.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid var(--color-grey2);
}
.v{
    background-image: url('../img/상세페이지/비타민상세페이지.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
} */

.m-port-cont{
    /* border: 1px solid; */
    width: 1400px; height: 700px;
    display: flex;
    gap: 20px;
    margin: auto;
}
.w ul, .v ul{
    margin-top: 500px;
}
.w button, .v button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* margin-top: 15px; */
    background: linear-gradient(to right, var(--color-sky), var(--color-yellow));
    color: var(--color-blue4);
    font-size: 8pt;
    font-weight: 600;
}
.m-port-sub-cont{
    width: calc((100% - 20px)/3); height: 100%;
    /* border: 1px solid; */
}
.m-port-sub-cont img{
    width: 100%; height: 75%; 
    object-fit: cover;
}
.m-port-sub-cont ul{
    list-style: none;
    width: 100%;
    text-align: center;
}
.m-port-sub-cont button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* margin-top: 15px; */
    background: linear-gradient(to right, var(--color-sky), var(--color-yellow));
    color: var(--color-blue4);
    font-size: 8pt;
    font-weight: 600;
}
.m-port-sub-cont .p-list-program img{
    width: 50px; height: 50px;
    object-fit: cover;
}
.da-plan, .da-plan img{
    width: 100%;
    object-fit: cover;
}
.swiper-slide .on-final-all{
    background-image: url('../img/모바일/완성프레임나열.png');
}
.bd-cont{
    width: 1400px; height: 400px;
    gap: 10px;
    display: flex;
    margin: auto;
}
.bd-sub-cont{
    width: calc((100% - 10px)/2); height: 100%;
    flex-wrap: wrap;
}

.bd-cont img{
    width: 100%; height: 40%;
    object-fit: cover;
}
.n-k-f{
    border: 3px solid var(--color-grey2);
}
.bd-cont ul{
    list-style: none;
    text-align: center;
    margin: 0; padding: 0;
}
.bd-cont .p-list-program img{
    width: 50px; height: 50px;
    object-fit: cover;
}

.bd-cont button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* margin-top: 15px; */
    background: linear-gradient(to right, var(--color-sky), var(--color-yellow));
    color: var(--color-blue4);
    font-size: 8pt;
    font-weight: 600;
}
.m-f-proto, .m-f-f, .m-d-pront{
    border-radius: 20px;
}
.n-k-f, .n-d-up, .m-mini, .b-m-sale{
    border-radius: 10px;
}
.illust-cont{
    display: flex;
    gap: 30px;
}
.illust-cont img{
    width: 100%; height: 80%;
    object-fit: cover;
}
.illust-cont button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* margin-top: 15px; */
    background: linear-gradient(to right, var(--color-sky), var(--color-yellow));
    color: var(--color-blue4);
    font-size: 8pt;
    font-weight: 600;
}
.illust-cont .n-k-f, .illust-cont .n-d-up{
    object-fit: cover;
}

/*modal*/
/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1000;
    /* height: auto;
    overflow: auto; */
}

.modal.active {
    display: block;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-close {
    cursor: pointer;
    font-size: 18px;
    color: #333;
}
.modal img{
    width: 100%;
    object-fit: contain;
}

/* 오버레이 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

/*footer*/
footer{
    width: 100%;
    background-color: var(--color-sky4);
    height: auto;
    text-align: center;
    position: absolute;
    padding: 20px 0px; margin: 0;
    color: white;
}
.footer-email > h2{
    font-size: 30pt;
    padding-top: 30px;
}
.emailtext{
    font-size: 18pt;
}
.copy{
    font-size: 8pt;
}
.footer-email > p{
    margin-bottom: 20px;
}
/*map*/
.map {
    position: fixed;
    z-index: 99;
    top: 20%;
    right: 40px; 
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}
.map li {
    margin-bottom: 50px;
    list-style: none;
}
.map a {
    text-decoration: none;
    color: var(--color-yellow5);
    transition: color 0.3s ease;
    font-size: 15pt;
    font-weight: bold;
}
.map a.active {
    color: rgb(234, 231, 255);
    font-weight: bold;
}
.map a.active {
    color: var(--color-sky3);
    /* background: linear-gradient(to right, var(--color-sky3), var(--color-yellow2)); */
    font-weight: bold;
    transition: all 0.5s ease;
    padding: 5px 8px;
    border-radius: 5px;
    text-shadow: 0 0 1px white;
}

/*hover*/
button:hover{
    background: linear-gradient(to right, var(--color-blue3), var(--color-yellow5));
    color: white;
}
.emailtext:hover{
    text-decoration: underline;
}
.map a:hover{
    color: var(--color-blue5);
    font-weight: 700;
}
.image .swiper-silde:hover img{
    opacity: 0.3;
}
.image .swiper-silde:hover::after{
    opacity: 1;
}

/*media query-반응형*/
@media screen and (max-width: 1024px) {
    /* html{
        overflow-x : hidden;
    } */
    /* * {
        outline: 1px solid red;
    } */
    body, html{
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }
    /* .aos-inti, .aos-animate{
        margin: 0; padding: 0;
    } */
    .title{
        width: 100%;
        font-size: 2.3rem;
    }
    /* .line{
        width: 100%;
    } */
    .portfolio > .line{
        width: 100%;
    }
    header{
        width: 100%;
        margin: auto;
    }
    .profile{
        width: 100%;
        display: flex;
        gap: 50px;
    }
    .profile-info p, .profile-cont p{
        font-size: 10pt;
    }
    .profile-info h5, .profile-cont h5{
        font-size: 12pt;
    }
    .profile-img{
        height: 400px;
        object-fit: cover;
    }
    .js, .jq{
        margin-bottom: 10px;
        padding: 0;
    }
    .psd, .ai{
        margin-top: -50px;
    }
    .p-t-s-p li{
        font-size: 12pt;
        margin: 0 0 10px 0px;
    }
    .me-image, .me-text-sub{
        width: 50%;
    }
    .portfolio, .web, .shopping, .sale, .illustrat, .image, .data{
        width: 90%; 
        flex-wrap: wrap;
        margin: auto;
    }
    .me{
        margin-bottom: 40px;
    }
    .me-good{
        gap: 20px;
    }
    .me-image{
        width: 100%; height: 105%;
        margin-top: 50px;
    }
    .me-image img{
        width: 100%; height: 100%;
        object-fit: cover;
    }
    .me-list{
        margin: 0; padding: 0;
    }
    .me, .me-image, .me-text-sub{
        height: 500px;
    }
    .me-list-text{
        font-size: 15pt;
        margin-top: 5px;
    }
    .m-l-sub-text{
        font-size: 12pt;
        margin: 0 0 12px 0;
    }
    .me-click{
        font-size: 13pt;
        padding: 0;
        margin-left: -28px;
    }

    .me, .m-port-cont, .bd-cont, .bd-sub-cont, .swiper-wrapper, .port-sub-cont, .m-port-sub-cont, .prot-cont, .swiper-slide, .mySwiper{
        width: 100%;
    }
    .m-port-cont, .bd-cont, .bd-sub-cont, .swiper-wrapper, .port-sub-cont, .m-port-sub-cont, .prot-cont, .swiper-slide, .mySwiper{
        margin: auto;
    }
    .portfolio{
        margin-top: 100px;
    }
    .portfolio li{
        font-size: 15pt;
    }
    .bd-sub-cont img{
        height: 100px;
        object-fit: cover;
    }
    .port-sub-cont{
        height: 250px;
    }
    .port-cont{
        height: 400px;
    }
    .w, .v{
        margin-top: 0;
    }
    .swiper-slide{
        margin: 0 auto 0 0;
        height: 450px;
    }
    .mySwiper{
        height: 530px;
    }
    .m-port-sub-cont{
        height: 500px;
        margin-top: 0;
    }
    .m-shopping{
        height: 215px;
    }

    footer {
        width: 100vw; /* 뷰포트 너비 */
        margin: 0; /* 여백 제거 */
        padding: 20px 0; /* 위아래 여백 */
        box-sizing: border-box; /* 패딩 포함 너비 계산 */
        position: relative; /* 위치 초기화 */
        left: 0; /* 치우침 방지 */
        transform: none; /* 불필요한 변환 제거 */
    }
    .map{
        /* width: 100%; */
        top: 0;
        left: 50%;
        height: 50px;
        padding: 0;
        display: flex;align-items: center;
        /* background-color: rgba(255,255,255, .5); */
        transform: translateX(-50%);
    }
    .map ul, .map li{
        padding: 0;margin: 0;
    }
    .map ul{
        display: flex;
        gap: 10px;
        margin: auto;
    }
}